<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PersistentWorkoutActivityExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Workout_App_IOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>496F0A0A2DA2612D00273C29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>496F0A192DA2613300273C29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>496F0A232DA2613300273C29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49742A112DFA4C3300DC2602</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
